@{
    ViewData["Title"] = "Home Page";
}

<p>Sobre nosotros</p>
<div class="card mb-3" style="max-width: 100%;">
    <br /><br /><br />
    <h3 style="text-align: center; color: #22313F">Sobre nosotros</h3>
    <hr style="width: 5%; text-align: center; height: 5px; background-color: #BCD8D9;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="https://i.ibb.co/g4yzZPy/Stem-cell-research-amico.png" alt="Stem-cell-research-amico" border="0">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <br /><br /><br />                    <br /><br /><br />
                <h5 class="card-title">Nuestra historia</h5>
                <p class="card-text" style="text-align:justify;">

                    Hace más de 90 años nace en el corazón de una familia chapina un sueño, el cual se convierte en una realidad con el nombre IMFOHSA, que es hoy en día el depósito dental más relevante del país. El sueño no se queda allí y nace Sonrisa 10/10, con la visión de transformar la experiencia en la visita al dentista, de hacerla cómoda y eficiente, y poder impactar no sólo en la salud, sino en la sonrisa de muchos guatemaltecos.

                    En Sonrisa 10/10 trabajamos para poder tener un concepto diferente e innovador de clínicas dentales.

                    Nuestra Pasión es ayudarte a transformar tu vida a través de una Bella Sonrisa. Permitirte vencer tus miedos y alcanzar ese cambio que quieres en tu salud, en tu imagen y en tus relaciones con los demás.
                </p>
            </div>
        </div>
    </div>
</div>