@{
    ViewData["Title"] = "Home Page";
}


<body>
    <section class="main">
        <h1>Contacto</h1>
        <div>
            <video poster="C:\Users\Nilssen Chinchilla\Documents\Universidad\Estructura de datos 1\Lab\LOGOESTRUCTURAS_Sonrisa_1010.png">
                <source src="C:\Users\Nilssen Chinchilla\Documents\Universidad\Estructura de datos 1\Lab\VideoEstructuras.mp4" type="video/mp4">
            </video>
        </div>
        <div style="text-align:center;">
            
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WkBLoPWW3VU?autoplay=1&muted=1" 
                      title="YouTube video player" frameborder="0" allow="accelerometer; 
                      autoplay; clipboard-write; encrypted-media; 
                      gyroscope; picture-in-picture" allowfullscreen>

              </iframe>
        </div>
    </section>
</body>




