@{
    ViewData["Title"] = "Home Page";
}
<div class="container contact-form" style="text-align:center; margin:30px;">
    <div class="contact-image">
        <img src="https://i.ibb.co/XzQRYm1/Mail-sent-rafiki.png" alt="Mail-sent-rafiki" border="0">
    </div>
    <form method="post">
        <h3>
            <br />
            ¡Ponte en contacto con nosotros!
        </h3>
        <h5> Si tienes alguna pregunta o consulta, utiliza el siguiente formulario o, si lo prefieres, llámanos al 020 7638 0870. <br /><br /></h5>
        <div class="row">
            <div class="container" style="align-content:center;">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Nombre" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Email" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Teléfono" value="" />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control" placeholder="Escribe tu mensaje" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-info" href="#">Enviar mensaje</a>
        </div>
        <br /><br />
    </form>
</div>



